{% case page.lang %}
  {% when "fi" %}
    {% assign frontpage = "/" %}
    {% assign blog-title = "Veiviblogi" %}
  {% when "en" %}
    {% assign frontpage = "/en.html" %}
    {% assign blog-title = "Kampanjbloggen" %}
  {% when 'sv' %}
    {% assign frontpage = "/sv.html" %}
    {% assign blog-title = "Campaign blog" %}
{% endcase %}

<section id="post-header" style="background-image: url({{page.banner-url}})" class="animated fadeIn">
    <div id="post-logo">
        <a href={{frontpage}}>
            <img src="/img/logo-115.png" />
        </a>
    </div>
    <h1>{{blog-title}}</h1>
</section>