<footer class="
{% if page.layout == "default" %}

{% endif %}
">

{% if page.layout != "thanks" %}
    <div class="buttons">
        <a href="https://twitter.com/{{site.twitter}}" target="_blank" class="button small twitter"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://www.facebook.com/{{site.facebook}}" target="_blank" class="button small facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="https://www.instagram.com/{{site.instagram}}" target="_blank" class="button small instagram"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
{% endif %}

{% if page.lang == "fi" %}
    <p id="legal"><a href="tietosuojaseloste.html">Tietosuojaseloste</a></p>
{% elsif page.lang == "sv" %}
    <p id="legal"><a href="dataskyddsbeskrivning.html">Dataskyddsbeskrivning</a></p>
{% else %}
    <p id="legal"><a href="legal.html">Privacy Policy</a></p>
{% endif %}
</footer>

</article>

<script>
window.ga = function() {
    ga.q.push(arguments)
};
ga.q = [];
ga.l = +new Date;
ga('create', '{{site.ga}}', 'auto');
ga('send', 'pageview')

</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>


{% if page.lang == "fi" %}
    {% assign redirect_url = site.typeform-redirect-fi %}
    {% assign typeform_url = site.typeform-url-fi %}
{% elsif page.lang == "sv" %}
    {% assign redirect_url = site.typeform-redirect-sv %}
    {% assign typeform_url = site.typeform-url-sv %}
{% else %}
    {% assign redirect_url = site.typeform-redirect-en %}
    {% assign typeform_url = site.typeform-url-en %}
{% endif %}
<script src="https://embed.typeform.com/embed.js"></script>
<script>
    let popup;
    window.addEventListener('DOMContentLoaded', function() {
        popup = window.typeformEmbed.makePopup('{{typeform_url}}', {
            mode: 'popup',
            hideHeaders: true,
            hideFooter: false,
            onSubmit: function() {
                console.log('Typeform successfully submitted');
                window.location.href = '{{redirect_url}}';
            }
        });

    })
    var button_list = document.getElementsByClassName('sign-button-onclick');
    [].forEach.call(button_list, function (button) {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            popup.open();
        });
    });
</script>
</body>

</html>
