<footer class="
{% if page.layout == "default" %}

{% endif %}
">
{% if page.lang == "fi" %}
    <p id="legal"><a href="tietosuojaseloste.html">Tietosuojaseloste</a></p>
{% elsif page.lang == "sv" %}
    <p id="legal"><a href="dataskyddsbeskrivning.html">Dataskyddsbeskrivning</a></p>
{% else %}
    <p id="legal"><a href="legal.html">Privacy Policy</a></p>
{% endif %}
</footer>

</article>

<script>
window.ga = function() {
    ga.q.push(arguments)
};
ga.q = [];
ga.l = +new Date;
ga('create', '{{site.ga}}', 'auto');
ga('send', 'pageview')

</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>

</html>
