<footer class="
{% if page.layout == "default" %}
animated fadeIn delay-2s
{% endif %}
">

    <p>Teksti elää ja jatkuu, the story goes on and on and on eikä lopu koskaan.</p>

    <p><a href="http://twitter.com/{{site.twitter}}"><i class="fab fa-twitter-square"></i> Seuraathan meitä myös Twitterissä</a></p>

    <section id="legal">Liian pienen lakitekstin lukeminen saattaa vaarantaa paitsi näkösi myös henkisen terveytesi. Sinua on varoitettu, ja irtisanoudumme täten kaikenlaisesta vastuusta tämän tekstin aiheuttamista ihottumista ja herneistä nenäonteloissa. Kiitos ja anteeksi.</section>

</footer>

</article>

<script>
window.ga = function() {
    ga.q.push(arguments)
};
ga.q = [];
ga.l = +new Date;
ga('create', '{{site.ga}}', 'auto');
ga('send', 'pageview')

</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>

</html>
