<!doctype html>
<html lang="fi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.desc}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Search Engine -->
    <meta name="description" content="{{site.desc}}">
    <meta name="image" content="{{site.image}}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{site.title}}">
    <meta itemprop="description" content="{{site.desc}}">
    <meta itemprop="image" content="{{site.image}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:description" content="{{site.desc}}">
    <meta name="twitter:site" content="{{site.twitter}}">
    <meta name="twitter:image:src" content="{{site.image}}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{site.title}}">
    <meta name="og:description" content="{{site.desc}}">
    <meta name="og:image" content="{{site.image}}">
    <meta name="og:url" content="{{site.url}}">
    <meta name="og:site_name" content="{{site.title}}">
    <meta name="og:type" content="website">


    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://use.typekit.net/xfw1iic.css"><!-- Learning Curve & Agency FB -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:400,700" rel="stylesheet"><!-- Chakra Petch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <article>
        <div id="language-selector">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'order' %}
            {% for page in pages %} 
                <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> 
            {% endfor %}
        </div>
