<section id="posts" class="clearfix animated fadeIn">
    <h2>{{page.posts-title}}</h2>

    <div class="post-list">
    {% for category in site.categories %}
      {% if category[0] == page.lang %}
          {% tablerow post in category[1] cols:2 %}
          <div class="post-list-item">
          <div class="col">
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <h5>{{ post.date | date: "%a, %b %d, %y" }}</h5>
          </div>
          <div class="col">
            <p>{{ post.description }}</p>
          </div>
          </div>
          {% endtablerow %}
      {% endif %}
    {% endfor %}
    </section>

</div>