{% case page.lang %}
  {% when "fi" %}
    {% assign read_more = "Lue lisää" %}
  {% when "en" %}
    {% assign read_more = "Läs mera" %}
  {% when 'sv' %}
    {% assign read_more = "Read more" %}
{% endcase %}


    <div class="post-list">
    {% assign posts=site.posts | where:"lang", include.lang %}
          {% tablerow post in posts cols:1 limit:include.limit %}
          <div class="post-list-item">
          <div class="col post-details">
            <h3>{{ post.title }}</h3>
            <h5>{{ post.date | date: "%d.%m.%Y" }}</h5>
          </div>
          <div class="col post-description">
            <p>{{ post.description }}</p>
            <a href="{{ post.url }}">{{read_more}}</a>
          </div>
          </div>
          {% endtablerow %}
          {% if posts.size > include.limit %}
            <div class="button-hover button-container">
              <a class="button" href="{{include.all_posts_url}}">
                {{include.show_all_posts | default: "Näytä kaikki"}}
              </a>
            </div>
          {% endif %}
      </div>