/* ==========================================================================
   CONFIG
   ========================================================================== */

$color-accent1: #fff103;
$color-accent2: #ffd3cc;
$color-text: #5784FF;
$color-text-dark: #1e1536;
$color-heading: $color-text;
$color-body-bg: #CCDAFF;
$color-container-bg: #fff;
$color-container-tint: #ccdaff;
$body-weight: 400;
$heading-weight: 900;
$body-font: 'Chakra Petch', sans-serif;
$heading-font: agency-fb-condensed, sans-serif;
$slogan-font: learning-curve, sans-serif;
$slogan-weight: 700;
$line-height-normal: 1.35;
$line-height-tighter: 1.15;


/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: calc(0.7em + 1vw);
    line-height: $line-height-normal;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $color-accent1;
    color: $color-text-dark;
    text-shadow: none;
}

::selection {
    background: $color-accent1;
    color: $color-text-dark;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ======================================================================
   Mixins
====================================================================== */

@mixin shade($dir) {
   background: -webkit-linear-gradient($dir, $color-container-tint, #fff);
   background-color: $color-container-tint;
}

@mixin cursive($size) {
  font-family: $slogan-font;
  font-weight: $slogan-weight;
  text-transform: none;
  transform: rotate(-11deg);
  font-size: $size;
}

/* ======================================================================
   Styles
====================================================================== */

body {
    background: -webkit-linear-gradient(top, rgba(247, 212, 205, 1) 0, rgba(206, 218, 252, 1) 850px);
    background-color: $color-body-bg;
    font-family: $body-font;
    line-height: $line-height-normal;
}

article {
    min-height: 80em;
    max-width: 46rem;
    margin: 0 auto;
    padding: 0 3em 5em 3em;
}

section {
    background-color: $color-container-bg;
    color: $color-text;
    padding: 1em 3em 1em 3em;
    margin-top: 1em;
    border-radius: 15px;
}

a {
    background-color: $color-accent1;
    color: $color-text-dark;
    text-decoration: none;
}


h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $color-heading;
}

h1.logo {
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    text-align: center;
    .bg {
      width: 100%;
    }
    .front {
      margin-top: -62%;
      width: 34%;
    }
}

h1.slogan {
    font-family: $slogan-font;
    font-weight: $slogan-weight;
    font-size: 3.8em;
    line-height: 0.75;
    text-align: center;
    margin: 0 auto;
    margin-top: -1.6em;
    width: 60%;
    transform: rotate(-11deg);
    min-height: 1.25em;
    margin-bottom: 0.15em;
}

h1.thanks {
  text-transform: uppercase;
  font-size: 25vw; //to make it about the width of the <section> below
  line-height: 0.8;
  text-align: center;
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 0.75em 0;
    text-transform: uppercase;
    line-height: 1;
}

h3 {
  margin: 0.75em 0 .5em 0;
  line-height: 1;
  color: #1E44FF;
  letter-spacing: 0.0315em;
  font-size: 1.2em;
  text-transform: uppercase;
}

h4 {
    text-align: center;
    margin: 0;
    font-family: $body-font;
}

h5 {
  margin: 0.75em 0 .5em 0;
  line-height: 1;
  color: #1E44FF;
  letter-spacing: 0.0315em;
  font-size: 0.83em;
}

p {
  font-weight: $body-weight;
}

#basic, #campaign-page {
  h1 {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    line-height: 1;
    overflow-wrap: break-word;
  }
  h2 {
    font-size: 2em;
  }
  p, ul {
    font-size: 0.8em;
    line-height: $line-height-tighter;
  }
  .contacts {
    text-align: center;
  }
}

#header-container {
  justify-content: space-between;
  display: flex;
  .navbar {
    padding: 0px;
    margin-top: 0.5em;
    padding-left: 9%;
  }
  .nav-item .nav-link {
    background-color: transparent;
    color: $color-text;
  }
  .nav-item.active .nav-link {
    background-color: transparent;
    color: $color-text;
  }
  .nav-link.dropdown-toggle[aria-expanded="true"] {
    padding-bottom: 0px;
  }
  .dropdown-menu {
    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .dropdown-item {
    padding-left: 1.5rem;
  }
}

.navbar-toggler {
  margin: 0px;
  margin-bottom: 8.25px;
  background: transparent;
  font-size: 0.75rem;
  padding: .25rem .50rem;
  &:focus {
    background: transparent;
  }
  &:active {
    background: transparent;
  }
}

.shaded {
  background: -webkit-linear-gradient(left, $color-container-tint 0, #fff 100%);
  background-color: $color-container-tint;
}

#intro {
  margin-top: 0;
  animation-delay: 0.5s;
  a {
    background-color: transparent;
    text-decoration: underline;
    color: $color-text;
  }
}

#front-main, #act, #sign {
  animation-delay: 0.8s;
}

#sign .intro a{
  background-color: transparent;
  text-decoration: underline;
  color: $color-text;
}

#thanks {
  animation-delay: 0.3s;
}

.intro {
  font-weight: $heading-weight;
  font-size: 1.3em;
  line-height: $line-height-tighter;
  margin: 0.5em 0;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#campaign-page .intro {
  font-weight: $heading-weight;
  font-size: 1.3em;
  line-height: $line-height-tighter;
  margin: 0.75em 0;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: $body-font;
}

#act {
  padding: 1em 0;
  div {
    float: left;
    width: 33%;
    padding: 0 2.5%;
    text-align: center;
    p {
      line-height: $line-height-tighter;
    }
    img {
      display:block;
      width: 100%;
    }
  }
}

#thanks {
  padding-bottom: 4em;
  .subsection {
    h2 {
      text-align: left;
    }
    p {
      line-height: $line-height-tighter;
      width: 55%;
    }
    .right {
      float: right;
      width: 45%;
    }
    img {
        width: 100%;
    }
    &.full-width {
      p {
        width: 100%;
      }
    }
  }

}


#politicians table {
    margin: 0 auto;
    margin-top: 1em;
}

#politicians td, #politicians th {
  padding: 0.25em 0;
}

#politicians th {
    text-align: left;
    padding-right: 1em;
}


#signature-counter {
  h2 {
    color: #FF5036;
    font-size: 7.5em;
    margin-bottom: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }

  h3 {
    @include cursive(3.8em);
    transform: none;
    color: $color-text;
    letter-spacing: initial;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

}



#banner {
  
  #banner-logo {
    left: calc(50% - 6em);
    margin-top: -6em; 
    position: absolute;
    width: 12em;
    z-index: 2;

    display: block;
    
    img {
      width: 100%;
    }
    a {
      background-color: transparent;
    }
  }

  height: 17em;

  margin-top: 6em;

  background-size: cover;
  background-color: $color-accent2;


  h1 {
    font-family: learning-curve,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 6em;
    color: white;
    text-align: center;
    height: 17rem;
    line-height: 18rem;
    padding: 0;
    margin: 0;
    
  }
}

#post-title {
  @include shade(left);
  text-align: center;
}

.post-content {
  p {
    font-size: 0.9em;

    a {
      text-decoration: underline;
      color: $color-text;
      background-color: initial;
    }
  }

}

#posts {
  animation-delay: 0.8s;
  padding: 0 0 2em 0;

  h2 {
    @include cursive(4em);
    margin: .75em 0 0.5em 0; 
  }
}

#show-all-button {
  margin: 1em 0 0 0;
}


.post-list-item {
    padding: 1em 3em 0.5em 3em;
    margin: 1em 0 0 0;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    h3 {
      margin-top: 0.2em;
    }

    p {
      font-size: 0.8em;
    }

    .col {
      flex: 1;
    }

    .read-more-button {
      margin: 1em 0.5em 1em;
      font-size: 0.8em;
    }

      
    .post-details {
      order: 0;
      flex-grow: 1;
      text-align: right;
      border-right: 1px solid $color-container-tint;
      padding: 0 .5em 0 .5em;
    }

    .post-description {
      order: 1;
      flex-grow: 2;
      padding: 0 .5em 0 .5em;
    }

  }


.bio-container {
  margin: 1em 0 1em 0;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .bio-img {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    padding: 0 1em 0 1em;


    img {
      border-radius: 0.75em;
      width: 240px;
    }
  }

  .bio-text {

    flex-grow: 1;

    padding: 1em 0 1em 0;

    p {
      font-size: 0.8em;
      text-align: left;
    }
  }
}


.post-content {
  h3 {
    margin: 1.75em 0 0.75em 0;
  }
}

.pad-top-bot {
  padding: 2em 0 2em 0;
}
.faq-container {
  margin-bottom: 2em;
  &:first-child {
    margin-top: 2em;
  }
  >a {
    margin: 0.75em 0 .5em 0;
    line-height: 1;
    color: #1E44FF;
    letter-spacing: 0.0315em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: agency-fb-condensed,sans-serif;
    font-weight: 900;
  }
}
#info {
  a {
    background-color: transparent;
    text-decoration: underline;
    color: $color-text;
  }
  #usage-policy-text {
    padding-top: 2em;
    font-size: 0.5em; 
  }
  .contact-list-title {
    font-weight: $heading-weight
  }
  section h3:not(:first-child) {
    margin-top: 1.75em;
  }
}

#campaigners, #supporters, #info {
  #banner {
    background: $color-text;
    height: 18em;
    h1 {
      color: white;
      font-family: $heading-font;
      transform: none;
      text-transform: uppercase;
    }
  }
}

.toggle-content {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
}

.button-container {
  display: flex;
}


button,
.button {
    background: -webkit-linear-gradient(left, $color-accent2 0, $color-accent1 100%);
    background-color: $color-accent1;
    color: $color-text-dark;
    font-weight: $heading-weight;
    padding: 1em;
    border-radius: 0.25em;
    border: none;
    text-align: center;
    box-shadow: -4px 8px 20px rgba($color-text, 0.4);
    display: flex;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      box-shadow: -4px 8px 40px rgba($color-text, 0.6);
    }
    &:active, &:focus {
      background: $color-accent1;
      outline: none;
      transform: scale(1.07);
    }
}

.sign-button {
  background-color: $color-accent1;
  color: $color-text-dark;
  font-size: 1.3em;
  margin: 1em auto 0.5em;
}
#campaign-info-link-container {
  display: flex;
}
#campaign-info-link {
  background: none;
  background-color: #CCDAFF;
  color: $color-text-dark;
  font-size: 1em;
  margin: 1em auto;
}

button i,
.button i {
    margin-right: 0.25em;
}

.button-hover {
  animation-play-state: paused;
}

.button-hover:hover {
  animation-play-state: running;
}

.button.small {
      background-color: $color-accent1;
  color: $color-text-dark;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.75em;
    margin-right: 0.5em;
    padding: 0.6em 1em;
}

.twitter {
    background: transparent;
    background-color: #1da1f2 !important;
    color: white !important;
}

.facebook {
    background: transparent;
    background-color: #4267b2 !important;
    color: white !important;
}

.messenger {
    background: transparent;
    background-color: #0084ff !important;
    color: white !important;
}

.whatsapp {
    background: transparent;
    background-color: #01e675 !important;
    color: white !important;
}

.instagram {
  background: transparent;
  background-color: #833ab4 !important;
  color: white !important;
}

.button.smaller {
      background-color: $color-accent1;
      color: $color-text-dark;
  padding: 0.25em 1em;
  margin: 0;
  margin-right: 0.25em;
}

.buttons {
    margin-top: 1em;
    margin-bottom: 0;
}

footer {
    margin-top: 2em;
    text-align: center;
    p {
      line-height: $line-height-tighter;
    }
    a {
      color: $color-text-dark;
      background: transparent;
      border-bottom: 1px dotted $color-text;
    }
    a:hover {
      background: $color-accent1;
      border-bottom: 1px solid $color-text-dark;
    }
    #legal {
      color: $color-text-dark;
      font-size: 0.6em;
    }

}

#language-selector {
  text-align: right;
  padding-right: 9%;
  margin-top: 0.5em;
  flex-wrap: nowrap;
  display: flex;
  a {
    color: $color-text;
    font-family: $body-font;
    padding-left: 0.75em;
    background-color: transparent;
  }
}

#supporter-content {
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  .supporter-item {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    .supporter-item-overlay {
      background-color: rgba(255, 211, 204, 0);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease;
      a {
        background-color: transparent;
      }
      h3 {
        opacity: 0;
        transition: 0.3s ease;
      }
    }

    &:hover, &:active {
      .supporter-item-overlay {

        background-color: rgba(255, 211, 204, 0.7);
        
        h3 {
          opacity: 1;
        }
      }
    }
  }
}


.blog-image {
  max-width: 100%;

  a {
    text-decoration: none;
    background-color: transparent;
  }

  img {
    width: 100%;
  }

  figcaption {
    color: black;
    font-size: 0.9em;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .pointerN {
   pointer-events: none;
 }

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.centre-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: -webkit-center;
  justify-content: center;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

 @media only screen and (min-width: 1420px) {
   h1.thanks {
     font-size: 26vw;
   }
 }

@media only screen and (max-width: 780px) {
  article {
    //max-width: none;
    padding: 0 1.5em 5em 1.5em;
  }
  section {
    padding: 1em 2em;
  }
  h1.slogan {
    margin-top: -1.5em;
  }

  #supporter-content {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (max-width: 680px) {
  h1.slogan {
    width: 80%;
    margin-top: -1.4em;
  }
  .intro {
    padding-left: 0;
    padding-right: 0;
  }
  #act div p {
    font-size: 0.85em;
  }
  #thanks .subsection p {
    width: 65%;
  }
  #thanks .subsection .right {
    width: 35%;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: calc(0.8em + 1vw); //larger base size again as it's otherwise starting to get undreadably small
  }
  h1.logo .front {
    margin-top: -65%;
  }
  h1.slogan {
    font-size: 2.9em;
    width: 90%;
  }
  #thanks .subsection p {
    width: 100%;
  }
  #thanks .subsection .right {
    width: 100%;
    text-align: center;
  }
  #thanks .subsection .right img {
    width: 60%;
    margin: 0 auto;
  }
  #act {
    padding: 1em 1.5em;
    div {
      float: none;
      width: 100%;
      padding: 0;
      img {
        width: 40%;
        margin: 0 auto;
      }
      p {
        font-size: 1em;
      }
    }
  }
  .bio-container {
    flex-direction: column;

    h5, h3 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 440px) {

  #banner {
    h1 {
      font-size: 5.1em;
    }
  }

  h1.logo .front {
    margin-top: -67%;
  }

  .post-list-item {
    padding: 0 1em 0 0;
  }

  #supporter-content {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 380px) {
  #banner {
    h1 {
      font-size: 4.7em;
    }
  }

  #post-title {
    h2 {
      font-size: 2.8em;
    }
  }

  .bio-container {
    margin: 3em 0 1em 0;
  }

  .post-content {
    p {
      text-align: left;
    }
  }

  section {
    padding: 1em 1.5em;
  }
  h1.slogan {
    font-size: 2.5em;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
