/* ==========================================================================
   CONFIG
   ========================================================================== */

$accent1: #00a0d2;
$accent2: #39474f;
$text: #000000;
$heading: #000000;
$brand-color-blue: #CCDAFF;
$brand-color-white: white;
$body-weight: 500;
$heading-weight: 900;
$font: 'Libre Franklin', sans-serif;


/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: calc(0.8em + 1vw);
    line-height: 1.2;
    box-shadow: inset 0 0 10em rgba(0,0,0,0.5);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $accent1;
    color: white;
    text-shadow: none;
}

::selection {
    background: $accent1;
    color: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: $brand-color-blue;
    font-family: $font;
}

section {
    background-color: $brand-color-white;
    color: $brand-color-blue;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

a {
    background-color: $accent1;
    color: $text;
    text-decoration: none;
}


article {
    min-height: 80em;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 4em 5em 4em;
}

h1.logo {
    text-align: center;
    margin: 0 auto;
    margin-top: -1em;
    margin-bottom: -1.75em;
    width: 80%;
}

h1.logo img {
    width: 100%;
    padding: 2em 0;
}

h1.slogan, #share h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.1;
    color: $heading;
    font-weight: $heading-weight;
    text-align: center;
    margin: 2em 0 0 0;
    transform: rotate(-7deg);
}

h2 {
    text-align: center;
    color: $heading;
    font-weight: $heading-weight;
    font-size: 1.6em;
    margin: 0;
}

h4 {
    text-align: center;
    margin: 0;
    margin-bottom: -1em;
    font-style: italic;
}

p {
  font-weight: $body-weight;
  line-height: 1.4;
}


.marker {
    text-align: center;
    color: #888;
}

#sign {

}

#sign-embedded {
    border: 1px solid $accent1;
    height: 30em;
    border-radius: 1em;
    background-color: antiquewhite;
}

#skip {
    text-align: center;
    margin-top: -2em;
    margin-bottom: 3em;
}

#share {
    text-align: center;
}

#share p {
}

#share table {
    margin: 0 auto;
    margin-top: 1em;
}

#share table td, #share table th {
  padding: 0.25em 0;
  border-bottom: 1px solid #888;
}

#share table th {
    text-align: left;
    padding-right: 1em;
}

#thanks-check {
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: -1.5em;
}

#thanks-check .far {
    display: block;
    font-size: 250%;
    margin-bottom: 0.2em;
}


button,
.button {
    background-color: $accent1;
    color: $text;
    font-weight: $heading-weight;
    padding: 1em;
    border-radius: 0.25em;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#sign-button {
  transform: rotate(-7deg);
    font-size: 1.5em;
}

button i,
.button i {
    margin-right: 0.25em;
}

#button-hover {
  animation-play-state: paused;
}

#button-hover:hover {
  animation-play-state: running;
}

.button.small {
      background-color: $accent2;
  color: white;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.twitter {
    background-color: #1da1f2 !important;
}

.facebook {
    background-color: #4267b2 !important;
}

.messenger {
    background-color: #0084ff !important;
}

.whatsapp {
    background-color: #01e675 !important;
}

.button.smaller {
      background-color: $accent2;
      color: white;
  padding: 0.25em 1em;
  margin: 0;
  margin-right: 0.25em;
}

.buttons {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
}

footer p {
      font-weight: $heading-weight;
      font-style: italic;
}

footer a {

}

#legal {
  color: $accent2;
  font-size: 0.6em;
    margin-top: 3em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
