{% include header.html %}

        <section id="campaign-page">
            {{content}}
            <p class="intro"> {{page.highlight-text}} </p>
            <p> {{page.campaign-people-text}} </p>
            <p class="intro">
              {{page.contacts-title-text}} <br> </p>
            <p class="contacts"> 
              <b>{{page.contact1-name}}</b> <br>
                 {{page.contact1-email}} <br> <br>
                
                <b>{{page.contact2-name}}</b> <br>
                   {{page.contact2-email}} <br> <br>
                
                <b>{{page.contact3-name}}</b> <br>
                   {{page.contact3-email}} <br> <br>
            </p>
        </section>

{% include footer.html %}