{% include header.html %}

<div id="campaigners"
>
{% include banner.html banner-title=page.page-title %}

<section class="clearfix animated fadeIn">
    <h4>{{page.page-ingress}}</h4>
</section>

<section class="clearfix animated fadeIn">
    {% assign campaigners=site.data.campaigners[page.lang] | sort: "name" %}
    {% for person in campaigners %}
        {% include bio.html name=person.name title=person.title description=person.description img=person.img %}
    {% endfor %}
</section>

</div>

{% include footer.html %}
