{% include header.html %}


        <div class="animated bounceInDown"><h1 class="slogan">{{site.slogan}}</h1></div>

        <h1 class="logo animated flipInY"><img src="img/logo-large.png" alt="{{site.title}}" /></h1>

        <section id="summary">
            {{page.summary-text}}
        </section>
        
        <section id="manifesto">
            {{content}}
        </section>

        <section id="impact-steps">
            <h2>Näin vaikutat</h2>
            
        </section>


        <section id="sign">

            <div id="button-hover"><button id="sign-button"><i class="fas fa-file-signature"></i> {{page.button-text}} </button></div>


            <script src="https://embed.typeform.com/embed.js"></script>
            <script>
                let popup;
                window.addEventListener('DOMContentLoaded', function() {
                    popup = window.typeformEmbed.makePopup('{{site.typeform-url}}', {
                        autoClose: 1,
                        hideHeaders: true,
                        hideFooter: true,
                        onSubmit: function() {
                            console.log('Typeform successfully submitted');
                            window.location.href = '{{site.redirect-url}}'
                        }
                    });

                })
                document.getElementById('sign-button').addEventListener('click', function() {
                    popup.open();
                });

            </script>
        </section>


{% include footer.html %}
