{% include header.html %}

        <h1 class="logo"><img src="img/logo.png" alt="{{site.title}}" /></h1>

        <div class=""><h1 class="slogan">{{site.slogan}}</h1></div>

        <section class="shaded">
            {{page.summary-text}}
        </section>

        <section id="manifesto">
            {{content}}
        </section>

        <section id="act">
            <h2>{{page.act-title}}</h2>

            <h3>1</h3>
            <p>{{page.act-text1}}</p>

            <h3>2</h3>
            <p>{{page.act-text2}}</p>

            <h3>3</h3>
            <p>{{page.act-text3}}</p>

        </section>


        <section id="sign" class="shaded">

            <div id="button-hover"><button id="sign-button"> {{page.button-text}} </button></div>


            <script src="https://embed.typeform.com/embed.js"></script>
            <script>
                let popup;
                window.addEventListener('DOMContentLoaded', function() {
                    popup = window.typeformEmbed.makePopup('{{site.typeform-url}}', {
                        autoClose: 1,
                        hideHeaders: true,
                        hideFooter: true,
                        onSubmit: function() {
                            console.log('Typeform successfully submitted');
                            window.location.href = '{{site.redirect-url}}'
                        }
                    });

                })
                document.getElementById('sign-button').addEventListener('click', function() {
                    popup.open();
                });

            </script>
        </section>


{% include footer.html %}
