{% include header.html %}

        <h1 class="logo">
            <img class="bg" src="img/ice.png" alt="" />
            <img class="front" src="img/logo.png" alt="{{site.title}}" />
          </h1>

        <div class=""><h1 class="slogan">{{site.slogan}}</h1></div>

        <section class="shaded" id="intro">
            <p class="intro">{{page.intro}}</p>
        </section>

        <section>
            {{content}}
        </section>


        <section id="act" class="clearfix">
            <h2>{{page.act-title}}</h2>

            <div>
              <img src="img/number-1.png" alt="1">
              <p>{{page.act-text1}}</p>
            </div>

            <div>
              <img src="img/number-2.png" alt="2">
              <p>{{page.act-text2}}</p>
            </div>

            <div>
              <img src="img/number-3.png" alt="3">
              <p>{{page.act-text3}}</p>
            </div>

        </section>


        <section id="sign" class="shaded">

            <div id="button-hover"><button id="sign-button"> {{page.button-text}} </button></div>


            <script src="https://embed.typeform.com/embed.js"></script>
            <script>
                let popup;
                window.addEventListener('DOMContentLoaded', function() {
                    popup = window.typeformEmbed.makePopup('{{site.typeform-url}}', {
                        autoClose: 1,
                        hideHeaders: false,
                        hideFooter: false,
                        onSubmit: function() {
                            console.log('Typeform successfully submitted');
                            window.location.href = '{{site.redirect-url}}'
                        }
                    });

                })
                document.getElementById('sign-button').addEventListener('click', function() {
                    popup.open();
                });

            </script>
        </section>


{% include footer.html %}
