{% include header.html %}

<div id="info">
    {% include banner.html banner-title=page.page-title %}

    <section class="clearfix animated fadeIn">
        <p class="intro">{{page.page-ingress}}</p>
    </section>

    <section class="clearfix animated fadeIn">
        <h3> {{page.info-title}} </h3>

        <div> <a> {{page.faq-link-text}} </a> </div>
        <div> <a> {{page.campaign-leaflet-link-text}} </a> </div>
        <div> <a> {{page.media-info-link-text}} </a> </div>

        <h3> {{page.how-to-share-title}} </h3>

        <div> <a> {{page.campaign-summary-link-text}} </a> </div>
        <div> <a> {{page.social-media-material-link-text}} </a> </div>
        <div> <a> {{page.advertisements-link-text}} </a> </div>

        <div id="usage-policy-text"> {{page.usage-policy-text}} </div>


    </section>

</div>

{% include footer.html %}
