{% include header.html %}

<div id="info">
    {% include banner.html banner-title=page.page-title %}

    <section class="clearfix animated fadeIn">
        <p class="intro">{{page.page-ingress}}</p>
    </section>

    <section class="clearfix animated fadeIn">
        <h3> {{page.for-media-title}} </h3>

        <div> <a href="{{page.media-info-link}}" target="_blank"> {{page.media-info-link-text}} </a> </div>
        <div> <a href="{{page.campaign-pictures-link}}" target="_blank"> {{page.campaign-pictures-link-text}} </a> </div>

        <h3> {{page.for-supporters-title}} </h3>
        <div> <a href="{{page.june-campaign-link}}" target="_blank"> {{page.june-campaign-link-text}} </a> </div>
        <div> <a href="{{page.campaign-leaflet-link}}" target="_blank"> {{page.campaign-leaflet-link-text}} </a> </div>

        <!-- Ohjeet kampanjan jakamiseen sivu ei vielä valmis
        <div> <a href="{{page.share-campaign-link}}"> {{page.share-campaign-link-text}} </a> </div>
        -->
        <div> <a href="{{page.social-media-material-link}}" target="_blank"> {{page.social-media-material-link-text}} </a> </div>
        <div> <a href="{{page.advertisements-link}}" target="_blank"> {{page.advertisements-link-text}} </a> </div>

        <div id="usage-policy-text"> {{page.usage-policy-text}} </div>
    </section>

</div>

{% include footer.html %}
