{% include header.html %}
{% case page.lang %}
  {% when "fi" %}
    {% assign return_to_front = "Palaa etusivulle" %}
    {% assign ref = "/" %}
  {% when "en" %}
    {% assign return_to_front = "Return to frontpage" %}
    {% assign ref = "/en" %}
  {% when 'sv' %}
    {% assign return_to_front = "Återvänd till framsidan" %}
    {% assign ref = "/sv" %}
{% endcase %}

{% include corner-logo.html %}

        <section id="post" class="animated fadeIn">
          
          <h1>{{page.title}}</h1>
          
          {{content}}

            {% include author-bio.html name=page.author description=page.author-desc img=page.author-img%}
        
            <div class="button-hover button-container">
                <a class="button" href="{{ ref }}">
                  {{return_to_front}}
                </a>
            </div>
        </section>

{% include footer.html %}

