{% include header.html %}
{% case page.lang %}
  {% when "fi" %}
    {% assign return_to_front = "Palaa etusivulle" %}
    {% assign blog-title = "Veiviblogi" %}
    {% assign frontpage = "/" %}
    {% assign disclaimer = "Veiviblogin kirjoittajien nimillä varustetut tekstit ovat näkökulmia, jotka edustavat kyseisen blogitekstin kirjoittajan ajatuksia, eivät Ilmastoveivi 2019 -kampanjan virallista kantaa. Blogitekstit perustuvat kirjoittajien löytämiin tietolähteisiin, joihin lukija pääsee tutustumaan tekstissä olevia hyperlinkkejä klikkaamalla." %}
  {% when "en" %}
    {% assign return_to_front = "Return to frontpage" %}
    {% assign blog-title = "Campaign blog" %}
    {% assign frontpage = "/en.html" %}
  {% when 'sv' %}
    {% assign return_to_front = "Återvänd till framsidan" %}
    {% assign blog-title = "Kampanjbloggen" %}
    {% assign frontpage = "/sv.html" %}
{% endcase %}


        {% include banner.html banner-title=blog-title banner-img=page.banner-url %}

        <section id="post-title" class="animated fadeIn">
          <h2>{{page.title}}</h2>
        </section>


        <section class="post-content animated fadeIn">
          
          {{content}}

          <i>{{disclaimer}}</i>

          <div class="pad-top-bot">
            {% include bio.html name=page.author description=page.author-desc img=page.author-img%}
          </div>

            <div class="button-hover button-container">
                <a class="button" href="{{ frontpage }}">
                  {{return_to_front}}
                </a>
            </div>
        </section>

{% include footer.html %}

