{% include header.html %}

        <h1 class="thanks animated zoomIn faster">{{page.title}}</h1>

        <!-- TODO: counter -->

        <section id="thanks" class="animated fadeIn">

            <p class="intro">{{page.intro}}</p>

            <div class="subsection clearfix">
              <h2>{{page.title1}}</h2>
              <div class="right"><img src="img/thanks-challenge.png" alt="" /></div>
              <p>{{page.text1}}</p>
            </div>

            <div class="subsection clearfix">
              <h2>{{page.title2}}</h2>
              <div class="right"><img src="img/thanks-share.png" alt="" /></div>
              <p>{{page.text2}}</p>

              <div class="buttons">
                  <a href="https://twitter.com/intent/tweet?text={{site.share-text | uri_escape}}" target="_blank" class="button small twitter"><i class="fab fa-twitter"></i> Twitter</a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.share-url | uri_escape}}" target="_blank" class="button small facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
                  <a href="fb-messenger://share/?link={{site.share-url | uri_escape}}" target="_blank" class="button small messenger"><i class="fab fa-facebook-messenger"></i> Messenger</a>
                  <a href="https://api.whatsapp.com/send?text={{site.share-text | uri_escape}}" target="_blank" class="button small whatsapp"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                  <a href="mailto:?subject={{site.share-title | uri_escape}}&body={{site.share-text | uri_escape}}" class="button small email"><i class="far fa-envelope"></i> Sähköposti</a>
              </div>
              </div>

              <p>Kerro myös <a href="#politicians" class="toggle">puoluejohtajille</a> Ilmastoveivistä!</p>

              <div class="toggle-content" id="politicians" >
              <table>
                {% for politician in site.data.politicians-fi %}
                  <tr>
                      <th>
                          {{politician.name}} / {{politician.party}}
                      </th>
                      <td>
                          <a href="mailto:{{politician.email}}?subject={{site.share-title | uri_escape}}&body={{site.share-text | uri_escape}}" class="button smaller"><i class="far fa-envelope"></i></a></td>
                      <td>
                          <a href="https://twitter.com/intent/tweet?text=%40{{politician.twitter | uri_escape }}%20{{site.share-text | uri_escape}}" class="button smaller twitter"><i class="fab fa-twitter"></i></a></td>
                  </tr>
                {% endfor %}
              </table>
              </div>
              <script>

                // Show an element
                var show = function (elem) {

                	// Get the natural height of the element
                	var getHeight = function () {
                		elem.style.display = 'block'; // Make it visible
                		var height = elem.scrollHeight + 'px'; // Get it's height
                		elem.style.display = ''; //  Hide it again
                		return height;
                	};

                	var height = getHeight(); // Get the natural height
                	elem.classList.add('is-visible'); // Make the element visible
                	elem.style.height = height; // Update the max-height

                	// Once the transition is complete, remove the inline max-height so the content can scale responsively
                	window.setTimeout(function () {
                		elem.style.height = '';
                	}, 350);

                };

                // Hide an element
                var hide = function (elem) {

                	// Give the element a height to change from
                	elem.style.height = elem.scrollHeight + 'px';

                	// Set the height back to 0
                	window.setTimeout(function () {
                		elem.style.height = '0';
                	}, 1);

                	// When the transition is complete, hide it
                	window.setTimeout(function () {
                		elem.classList.remove('is-visible');
                	}, 350);

                };

                // Toggle element visibility
                var toggle = function (elem, timing) {

                	// If the element is visible, hide it
                	if (elem.classList.contains('is-visible')) {
                		hide(elem);
                		return;
                	}

                	// Otherwise, show it
                	show(elem);

                };

                // Listen for click events
                document.addEventListener('click', function (event) {

                	// Make sure clicked element is our toggle
                	if (!event.target.classList.contains('toggle')) return;

                	// Prevent default link behavior
                	event.preventDefault();

                	// Get the content
                	var content = document.querySelector(event.target.hash);
                	if (!content) return;

                	// Toggle the content
                	toggle(content);

                }, false);

              </script>



            <div class="subsection clearfix">
              <h2>{{page.title3}}</h2>
              <div class="right"><img src="img/thanks-vote.png" alt="" /></div>
              <p>{{page.text3}}</p>
            </div>

            <div class="subsection clearfix full-width">
              <h2>{{page.title4}}</h2>
              <p>{{page.text4}}</p>
              <div class="buttons">
                  <a href="https://twitter.com/{{site.twitter}}" target="_blank" class="button small twitter"><i class="fab fa-twitter"></i> Twitter</a>
                  <a href="https://www.facebook.com/{{site.facebook}}" target="_blank" class="button small facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
                  <a href="https://www.instagram.com/{{site.instagram}}" target="_blank" class="button small instagram"><i class="fab fa-instagram"></i> Instagram</a>
              </div>
            </div>


        </section>

{% include footer.html %}
